<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>💪 Body Composition Tracker</p>
    </div>

    <div class="buttons">
      <%= link_to 'Weigh Ins', weigh_ins_path, class: 'button is-medium is-link' %>
      <%= link_to 'Stats', stats_path, class: 'button is-medium is-link' %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="title is-3">
      <p>Current weight exponential moving average (last 7 days): <%= @weight_ema ? @weight_ema.round(2) : '?' %></p>
    </div>
    <% @progresses.each do |progress| %>
      <div class="title is-2">
        <p><%= progress.goal %></p>
      </div>
      <div class="title is-5">
        <p><%= progress.progress ? progress.progress : '?' %>%</p>
      </div>
      <progress class="progress is-large" value="<%= progress.progress %>"  max="100"><%= progress.progress %>%</progress>
    <% end %>
  </div>
</section>
