<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>💪 Body Composition Tracker</p>
    </div>

    <div class="buttons">
      <%= link_to 'Weigh Ins', weigh_ins_path, class: 'button is-medium is-link' %>
      <%= link_to 'Stats', stats_path, class: 'button is-medium is-link' %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <% if @weight_ema %>
        <p class="title is-3">Current weight exponential moving average (last 7 days): <%= @weight_ema.round(2) %></p>

        <% @progresses.each do |progress| %>
          <div class="title is-3">
            <p><%= progress.goal %></p>
          </div>
          <div class="title is-6">
            <p><%= progress.progress %>%</p>
          </div>
          <progress class="progress is-large" value="<%= progress.progress %>"  max="100"><%= progress.progress %>%</progress>
        <% end %>
      <% else %>
        <h3>
          Oops - weigh in for 7 days in a row to see the exponential moving average!
          <p class="is-size-6"><%= @last_7_days.join(', ') %></p>
        </h3>
      <% end %>
    </div>
  </div>
</section>
