<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>Weigh Ins</p>
    </div>

    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li class="is-active"><a href="#" aria-current="page">Weigh Ins</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= form_tag upload_weigh_ins_path, method: :post, multipart: true do %>
            <div class="file is-boxed is-link">
              <label class="file-label">
                <input class="file-input" type="file" name="data" onchange="form.submit()">
                <span class="file-cta">
                  <span class="file-label">
                    Upload
                  </span>
                </span>
              </label>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <br>

    <div class="container">
      <p class="subtitle is-5">
        <% total_count = @weigh_ins.total_count %>
        <strong><%= @weigh_ins.size %></strong> out of <strong><%= total_count %></strong> <%= "weigh in".pluralize(total_count) %>
      </p>
      <%= paginate @weigh_ins %>
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Date</th>
            <th>Weight (kg)</th>
            <th>Fat (%)</th>
            <th>Muscle (kg)</th>
            <th>Visceral Fat</th>
            <th>Metabolic Age</th>
            <th>Water (%)</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <% @weigh_ins.each do |weigh_in| %>
            <tr>
              <td><%= weigh_in.when %></td>
              <td><%= weigh_in.weight %></td>
              <td><%= weigh_in.fat %></td>
              <td><%= weigh_in.muscle %></td>
              <td><%= weigh_in.visceral_fat %></td>
              <td><%= weigh_in.metabolic_age %></td>
              <td><%= weigh_in.water %></td>
              <td><%= weigh_in.created_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
