<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>Stats</p>
    </div>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Stats</a></li>
      </ul>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Date range</th>
          <th>Sample size</th>
          <th>7 day weight average</th>
          <th>Difference</th>
          <th>7 day % fat average</th>
          <th>Difference</th>
        </tr>
      </thead>
      <tbody>
        <% @rolling_7day_average.each_with_index do |avg, index| %>
          <tr>
            <td><%= avg[:date_range].last.strftime("%d/%m/%Y") %> - <%= avg[:date_range].first.strftime("%d/%m/%Y") %></td>
            <td><%= avg[:size] %></td>
            <td><%= avg[:weight_average].round(2) %></td>
            <td>
              <% if (index + 1) < @rolling_7day_average.size %>
                <%= (avg[:weight_average] - @rolling_7day_average[index + 1][:weight_average] ).round(2) %>
              <% else %>
                -
              <% end %>
            </td>
            <td><%= avg[:fat_average].round(2) %></td>
            <td>
              <% if (index + 1) < @rolling_7day_average.size %>
                <%= (avg[:fat_average] - @rolling_7day_average[index + 1][:fat_average]).round(2) %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
