<section class="section">
  <div class="container">
    <div class="title is-1">
      <p>Stats</p>
    </div>

    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Stats</a></li>
      </ul>
    </nav>
  </div>
</section>

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Latest Weigh In
      </h1>
      <h2 class="subtitle">
        <%= @latest_weigh_in.present? ? @latest_weigh_in.when.strftime("%e %B %Y") : '-' %>
      </h2>
      <h2 class="subtitle">
        <%= @latest_weigh_in.present? ? @latest_weigh_in.weight : '-' %> kg
      </h2>
      <h2 class="subtitle">
        <%= @latest_weigh_in.present? ? @latest_weigh_in.fat : '-' %>% body fat
      </h2>
    </div>
  </div>
</section>

<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Lowest weight
      </h1>
      <h2 class="subtitle">
        <%= @lowest_weight.present? ? @lowest_weight.when.strftime("%e %B %Y") : '-' %>
      </h2>
      <h2 class="subtitle">
        <%= @lowest_weight.present? ? @lowest_weight.weight : '-' %> kg
      </h2>
      <h2 class="subtitle">
        <%= @lowest_weight.present? ? (@lowest_weight.weight - StatsHelper::WEIGHT_GOAL).round(2) : '-' %> kg to <%= StatsHelper::WEIGHT_GOAL %> kg
      </h2>
    </div>
  </div>
</section>

<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Lowest body fat
      </h1>
      <h2 class="subtitle">
        <%= @lowest_fat.present? ? @lowest_fat.when.strftime("%e %B %Y") : '-' %>
      </h2>
      <h2 class="subtitle">
        <%= @lowest_fat.present? ? @lowest_fat.fat : '-' %>%
      </h2>
      <h2 class="subtitle">
        <%= @lowest_fat.present? ? (@lowest_fat.fat - StatsHelper::FAT_GOAL).round(2) : '-' %>% to <%= StatsHelper::FAT_GOAL %>%
      </h2>
    </div>
  </div>
</section>
