<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Stats</a></li>
      </ul>
    </nav>

    <div class="title is-1">
      <p>Stats</p>
    </div>

    <div class="buttons">
      <%= link_to 'Weekly averages', weekly_stats_path, class: 'button is-medium is-link' %>
    </div>

  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <p>
        <h1 class="title">
          Starting weight
        </h1>
        <h2 class="subtitle">
          <% if @starting.present? %>
            <%= "#{@starting.weight} (#{@starting.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
      <p>
        <h1 class="title">
          Lowest weight
        </h1>
        <h2 class="subtitle">
          <% if @lowest_weight.present? %>
            <%= "#{@lowest_weight.weight} (#{@lowest_weight.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
      <p>
        <h1 class="title">
          Latest weight
        </h1>
        <h2 class="subtitle">
          <% if @latest.present? %>
            <%= "#{@latest.weight} (#{@latest.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
      <p>
        <h1 class="title">
          Starting body fat
        </h1>
        <h2 class="subtitle">
          <% if @starting.present? %>
            <%= "#{@starting.fat} (#{@starting.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
      <p>
        <h1 class="title">
          Lowest body fat
        </h1>
        <h2 class="subtitle">
          <% if @lowest_fat.present? %>
            <%= "#{@lowest_fat.fat} (#{@lowest_fat.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
      <p>
        <h1 class="title">
          Latest body fat
        </h1>
        <h2 class="subtitle">
          <% if @latest.present? %>
            <%= "#{@latest.fat} (#{@latest.when.strftime("%d/%m/%Y")})" %>
          <% else %>
            -
          <% end %>
        </h2>
      </p>
    </div>
  </div>
</section>
