<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Stats', stats_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Predictions</a></li>
      </ul>
    </nav>

    <div class="title is-1">
      <p>Stats</p>
    </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h1>Predictions</h1>
    </div>

    <div class="content">
      <h3>Using the last 15 weigh ins in a linear regression</h3>
      <table class="table is-striped is-hoverable is-fullwidth">
        <tbody>
          <tr>
            <td>T + 3 days</td>
            <td><%= @linear_regression.next(3).round(2) %></td>
          </tr>
          <tr>
            <td>T + 7 days</td>
            <td><%= @linear_regression.next(7).round(2) %></td>
          </tr>
          <tr>
            <td>T + 15 days</td>
            <td><%= @linear_regression.next(15).round(2) %></td>
          </tr>
          <tr>
            <td>T + 30 days</td>
            <td><%= @linear_regression.next(30).round(2) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
