<section class="section">
  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Stats', stats_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Weekly averages</a></li>
      </ul>
    </nav>

    <div class="title is-1">
      <p>Stats</p>
    </div>

    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="content">
      <h1>Weekly averages</h1>
    </div>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
        <tr>
          <th>Date range</th>
          <th># of weigh ins</th>
          <th>Weight average</th>
          <th>% Fat average</th>
        </tr>
      </thead>
      <tbody>
        <% if @rolling_7day_average.present? %>
          <% @rolling_7day_average.each_with_index do |avg, index| %>
            <tr>
              <td><%= avg.date_range.last.strftime("%d/%m/%Y") %> - <%= avg.date_range.first.strftime("%d/%m/%Y") %></td>
              <td><%= avg.size %></td>
              <td>
                <%= avg.weight_average&.round(2) %>
                <% if avg.weight_average.present? && @rolling_7day_average.at(index + 1)&.weight_average.present? %>
                  (<%= sprintf("%+.2f", avg.weight_average - @rolling_7day_average.at(index + 1).weight_average) %>)
                <% end %>
              </td>
              <td>
                <%= avg.fat_average&.round(2) %>
                <% if avg.fat_average.present? && @rolling_7day_average.at(index + 1)&.fat_average.present? %>
                  (<%= sprintf("%+.2f", avg.fat_average - @rolling_7day_average.at(index + 1).fat_average) %>)
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
