<!DOCTYPE html>
<html>
  <head>
    <title>Body Composition Tracker</title>
    <%= csrf_meta_tags %>


    <meta name="viewport" content="width=device-width, initial-scale=1"><%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path 'favicon.ico' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:warning] %>
      <div class="notification is-warning">
        <%= flash[:warning] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
